/* ============ Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ============ Variables css ============ */
:root{
    --header-height: 3.5rem;

    /* ========== Colors ========== */
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */

    --first-hue: 356;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;
    --first-color: hsl(var(--first-hue),var(--sat),var(--lig));
    --first-color-alt: hsl(var(--first-hue),var(--sat),71%);
    --title-color : hsl(var(--second-hue),15%, 95%);
    --text-color : hsl(var(--second-hue),8%,75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue),48%,8%);
    --container-color:hsl(var(--second-hue),32%,12%);


    /* ========== Font & Typography ========== */
    --body-font : 'Poppins' , sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size : 1.5rem;
    --h2-font-size : 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-siza:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size :.75rem;
    --tiny-font-size: .625rem;

    /* ========== Font weight ========== */
    --font-medium : 500;
    --font-semibold : 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 2.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/* ============= BASE ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-siza);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

img{
    height: auto;
    width: 100%;
}

/* ============ REUSABLE CSS CLASSES ============ */

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.grid{
    display: grid;
    gap: 1.25rem;
}
.main {
    overflow: hidden;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* ============ THEME ============ */

.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    color: var(--first-color);
}

/* ============ Header & Nav ============ */

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    z-index: var(--z-fixed);
    transition: .4s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.nav__logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: 0.4s;

}

.nav__logo:hover{
    color: var(--first-color-alt);
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue),32% , 16% , .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem ;
    backdrop-filter: blur(10px);
    transition: .4s; /* for light mode animation */

}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link{
    font-size: 1.25rem;
    color: var(--text-color);
    padding: .4rem;
    display: flex;
    border-radius: 5rem
}

/* Active link menu */

.active-link{
    background: linear-gradient(180deg,
                hsla(var(--first-hue),var(--sat) , var(--lig) , 1),
                hsla(var(--first-hue),var(--sat) , var(--lig) , .2));
    box-shadow: 0 0 16px hsla(var(--first-hue),var(--sat) , var(--lig) , 4);
    color: var(--title-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 4px 4px hsla(0 , 0%, 4%, .3);
}
/* ============ Home ============ */
.home__container{
    position: relative;
    padding-top: 2rem;
    row-gap: 4.5rem;
}
.home__data{
    text-align: center;
}

.home__greeting{
    display: block;
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-bottom: .25rem;
}

.home__name{
    font-size: var(--biggest-font-size);
}

.home__education{
    font-size:var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.home__button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.home__img{
    width: 160px;
}

.home__handle{
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg,
                hsla(var(--first-hue),var(--sat) , var(--lig) , 1),
                hsla(var(--first-hue),var(--sat) , var(--lig) , .2));
    border-radius: 10rem 10rem  1rem 1rem;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    overflow: hidden;
}

.home__social{
    display: grid;
    row-gap: .5rem;
    position: absolute;
    bottom: 5rem;
    left: 0;
    
}

.home__social-link{
    color: var(--first-color);
    background-color: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    width: max-content;
    transition: .4s;

}
.home__social-link:hover{
    background-color: var(--first-color);
    color: #fff;
  }

.home__social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);

}

.home__scroll{
    position: absolute;
    color: var(--first-color);
    display: grid;
    bottom: 4rem;
    right: -1.5rem;
    justify-items: center;
    row-gap: 2.25rem ;
}

.home__scroll-icon{
    font-size: 1.25rem;
}

.home__scroll-name{
    transform: rotate(-90deg);
    font-size: var(--smaller-font-size);
}



/* ============ Buttons ============ */
.button{
    display: inline;
    color: var(--body-color);
    background-color: var(--first-color);
    border-radius: .5rem;
    padding: .75rem 1rem;
    font-size: var(--body-font);
    font-weight: var(--font-medium);
    transition: .4s;
}

.button--ghost {
    color: var(--first-color);
    background-color: transparent;
    border: 2px solid  var(--first-color);
}

.button:hover{
    color: var(--body-color);
    background-color: var(--first-color-alt);
}


/* ============ About ============ */
.about__container {
    row-gap: 2.5rem;
}
.about__img{
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__data{
    text-align: center;
}

.about__info{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2rem;
}

.about__box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}
.about__icon{
    color: var(--first-color);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.about__title{
    font-size: var(--small-font-size);
}

.about__subtitle{
    font-size: var(--tiny-font-size);
}

.about__description{
    margin-bottom: 2rem ;
}

/* ============= Skills ============= */
.skills__container {
    row-gap: 2.5rem;
    padding-top: 1rem;
}
.skills__content{
    background-color: var(--container-color);
    border-radius: 1.25rem;
    padding: 1.5rem;
}

.skills__title{
    color: var(--first-color);
    font-size: var(--normal-font-siza);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    row-gap: 1rem;
    align-content: flex-start;
}

.skills__data{
    display: flex;
    column-gap: .5rem;

}

.skills__data .bxs-badge-check{
    color: var(--first-color);
    font-size: 1rem;
}

.skills__name{
    font-size: var(--normal-font-siza);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}

/* ============= Services ============ */

.services__container{
    gap: 1.5rem;
    padding-top: 1rem;
    grid-template-columns: repeat(2,1fr);
}

.services__card{
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 3rem 1.5rem 1.5rem ;
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 2.5rem;
}

.services__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: .25rem;
}

.services__icon{
    font-size: 1rem;
    transition: .4s;
}

.services__button:hover .services__icon{
    transform: translateX(.25rem);
}

/* services modal */
.services__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue) , 28% , 16% , .7);
    padding: 2rem 1rem ;
    display: grid;
    place-items:center ;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    z-index: var(--z-modal);
    
}

.services__modal-content{
    background-color: var(--body-color);
    border-radius: 1.5rem ;
    padding: 4.5rem 1.5rem 2.5rem;
    position: relative;
}

.services__modal-title{
    color: var(--first-color);
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 1rem;
}

.services__modal-description{
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.services__modal-close{
    color: var(--first-color);
    font-size: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
}

.services__modal-list{
    display: grid;
    row-gap: .75rem;
}

.services__modal-item{
    display: flex;
    column-gap: .5rem;
    align-items: flex-start;
}

.services__modal-icon{
    color: var(--first-color);
    font-size: 1.5rem;
}

.services__modal-info{
    font-size: var(--small-font-size);
}

/* Active modal */

.active-modal{
    visibility: visible;
    opacity: 1;
}

/* ============ Works ============ */

.work__container {
    row-gap: 1rem;
}

.work__filters{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item{
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    padding: .25rem .75rem;
}

.work__card{
    background-color: var(--container-color);
    border-radius: 1rem;
    padding:1rem ;
}

.work__img{
    border-radius: 1rem;
    margin-bottom: .75rem;
}

.work__title{
    font-size: var(--normal-font-siza);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.work__button{
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.work__icon{
    font-size: 1rem;
    transition: .4s;
}

.work__button:hover .work__icon{
    transform:  translateX(.25rem);
}

/* active work */
.active-work{
    color: var(--body-color);
    background-color: var(--first-color);
    border-radius: .5rem;
}


















/* ============ Footer ============ */
footer{
    background-color: var(--first-color);
}

.footer__container{
   padding: 2rem 0 6rem ;
}

.footer__title{
    color: var(--body-color);
    text-align: center;
    margin-bottom: 2rem;
}

.footer__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    column-gap: 1.5rem;
}


.footer__link{
    color: var(--body-color);
}

.footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    border-radius: .25rem;
    display: inline-flex;
    padding: .25rem;
    font-size: 1rem;
}

.footer__copy{
    display: block;
    text-align: center;
    color: var(--body-color);
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

